* {
   margin: 0 auto;
   padding: 0;
}
.DicTemplate {
   max-width: 1440px;
   background-color: rgb(255, 255, 255);
}
.DicTemplate .title {
   width: 100%;
   height: 80px;
   line-height: 80px;
   text-align: center;
   background-color: rgb(78, 61, 61);
   color: white;
   font-weight: bold;
   font-size: 2rem;
}
